<div class="container" data-bs-spy="scroll">
  <ul *ngIf="response; else sorry">
    <script>let index = 0;</script>
    <li *ngFor="let tariff of response">

      <div class="card">
        <h3>
          Tariff: {{ tariff.tariff_name }}
          <small class="text-muted">Monthly fee: ${{ tariff.tariff_price }}</small>
        </h3>
        <ul>
          <h4>Options available for this tariff</h4>
          <li *ngFor="let option of tariff.connectedOptions">
            <h5 class="inline">Option: {{option.options_category}} {{option.options_name}}</h5>
            <p class="inline">Monthly fee: {{option.options_price}} Price to add: {{option.options_costToAdd}}</p>
          </li>
        </ul>
      </div>
      <br>
    </li>
    </ul>

  <ng-template #sorry>
    <p>Sorry :(</p>
  </ng-template>
</div>

